<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>

    <!-- QA & UAT   -->
    <add key="APPID" value="f40757a1-9d52-4a34-adbf-509d6369ad15" />
    <add key="APIKey" value="Jvd/yX1CsNwinSb3fCUXyNhkRg0psNWLjhfR7YXUr+I=" />
  

    <!-- PROD     -->
    <!--<add key="APPID" value="78fb5f64-1cd7-4862-9adc-510703902608" />
    <add key="APIKey" value="989ed6e14be08227f4d89233bb157259292d027af3ffe396f4827ca85634839b" />-->


    <add key="apiBaseAddress" value="https://localhost:44394/" />
    <!--<add key="apiBaseAddress" value="https://e4qa.e4.co.za/Absa.Cancellation.API/" />-->
    <!--<add key="apiBaseAddress" value="https://uat.e4.co.za/Absa.Cancellation.API/" />-->
    <!--<add key="apiBaseAddress" value="https://www.lawproperty.co.za/Absa.Cancellation.API/" />-->
    
  </appSettings>
</configuration>